<div class="heading">
  <h1>Frammer</h1>
  <p>a simple French grammar checker + basic translator</p>
</div>

<div class="text-box">
  <p>Type your French here:</p>
  <textarea name="translate-to-eng">
  </textarea>
</div>

<div class="grammar-checked">
</div>

<div class="translated">
</div>
